* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
  list-style-type: none;
  max-width: 100%;
}

/* HEADER  NAV*/

/* .container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
h1 img {
  height: 22px;
}

.nav-left-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  flex-basis: 400px;
  font-weight: bold;
}
.nav-left-content li a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.nav-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  font-weight: bold;
}
.nav-right-content li a {
  text-decoration: none;
  color: black;
  margin: 5px;
}

.icon {
  font-size: 17px;
}

 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  line-height: 1.8;
}

/*margin top utility class*/
.mt {
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-wrapper img {
  width: 100%;
  display: block;
}
.main-wrapper a {
  color: #000;
  text-decoration: none;
  margin-top: 5px;
  font-size: 14px;
}
.main-wrapper ul li {
  list-style-type: none;
}
.navbar {
  background: #ffffff;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  z-index: 10;

}
.brand-and-icon {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 0px solid #ddd;
}
.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 700;
}
.navbar-toggler {
  display: block;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  transition: all 0.4s ease;
  border: 2px solid #000;
  border-radius: 4px;
}
.navbar-toggler:hover {
  opacity: 0.7;
}
.navbar-collapse {
  overflow-y: scroll;
  display: none;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  display: block;
  padding: 0.6rem 0;
  margin: 0.2rem 0;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  position: relative;
  transition: all 0.4s ease;
}
.drop-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-nav > li > a:hover {
  opacity: 0.7;
}
.sub-menu h1 {
  text-transform: capitalize;
  font-size: 2rem;
  padding: 0.2rem 0;
}
.sub-menu ul li {
  text-transform: capitalize;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
  font-size: 0.95rem;
}
.sub-menu ul li a {
  opacity: 0.8;
  transition: all 0.5s ease;
}
.sub-menu ul li a:hover {
  padding-left: 14px;
  opacity: 0.9;
}
.sub-menu {
  display: none;
}

.sub-menu-item {
  padding-left: 1.2rem;
}
.sub-menu-item:nth-child(3) {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.sub-menu-item:nth-child(3) h2 {
  text-transform: capitalize;
  margin: 1.5rem 0;
}
.sub-menu-item:nth-child(3) .btn {
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  background: #000;
  color: #fff;
  transition: all 0.5s ease;
}
.sub-menu-item:nth-child(3) .btn:hover {
  background: transparent;
  color: #000;
}
.sub-menu-item:nth-child(4) {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}

/* header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://source.unsplash.com/g-kNBpqMIs4/1920x1400) center/cover
      no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h2 {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}
.header p {
  margin: 1rem auto;
  color: #fff;
  width: 60%;
  opacity: 0.8;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
.header button {
  margin: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}
.header button:hover {
  background: #fff;
  color: #000;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*border-bottom: 1px solid #ddd;*/
    padding: 0 5rem;
    position: relative;
  }
  .navbar-toggler {
    display: none;
  }
  .brand-and-icon {
    flex: 0 0 100px;
    border-bottom: none;
    padding: 0;
  }
  .navbar-collapse {
    display: block !important;
    overflow-y: hidden;
    flex: 1 0 auto;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 35px;
  }
  .navbar-nav-part {
    display: flex;
    align-items: center;
  }
  .navbar-nav-part > li > a {
    border-bottom: none;
    margin: 0 0.4rem;
    padding: 1.7rem 1rem 1.7rem 0.1rem;
    font-size: 0.8rem;

    display: block;
  }
  .sub-menu {
    position: absolute;
    left: 25px;
    width: 100%;
    top: 100%;
    background: white;
    padding-top: 50px;
  }
  .navbar-nav-part > li:hover .sub-menu {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 3rem;
  }
  .navbar-nav-part > li {
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease;
  }
  /* .navbar-nav-part > li:hover{
         border-bottom-color: #000;
     } */
  .sub-menu-item {
    padding-left: 0;
  }
  .sub-menu-item:nth-child(3) {
    padding-left: 4rem;
    padding-right: 2rem;
    margin-top: 20px;
  }

  /* header */
  .header {
    height: calc(100vh - 75px);
  }
  .header h2 {
    font-size: 6rem;
  }
  .header p {
    width: 40%;
  }
  .menu-link {
    font-size: 13px;
    font-weight: bold;
  }
}

/* ________________________________________ */

.hero-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.category {
  margin-top: 150px;
  text-align: center;
}
.category h1 {
  font-weight: bold;
  font-size: 30px;
}

.categorylist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.categorylist li {
  margin: 10px 20px;
  padding: 10px 0px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-weight: bold;
}
.categorylist li:hover {
  color: rgb(92, 91, 91);
  border-color: rgb(44, 43, 43);
}

/* New Phone Launched  */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  width: 100rem;
  height: 600px;
  margin-left: 150px;
}
.grid-item {
  background-color: rgba(245, 240, 240, 0.8);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}
.grid-item h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}
.grid-item p {
  color: rgb(110, 110, 110);
  margin-bottom: 5px;
}

.item1 {
  grid-row: 1 / 3;
}

.btn {
  color: white;
  background-color: rgb(17, 17, 17);
  padding: 5px 30px;
  border: none;
  border-radius: 20px;
}

/* MOBILE SECTION */

.mobileheading {
  font-size: 26px;
  margin-top: 170px;
  text-align: center;
}
.SamsungList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  line-height: 20px;
}
.SamsungList li,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  border-bottom: 2px solid transparent;
  margin: 5px 5px;
}

.SamsungList li:hover {
  border-color: rgb(44, 43, 43);
}

.galaxyimg {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.mobileheading2 {
  font-size: 28px;
  margin-top: 10px;
  text-align: center;
  font-weight: bolder;
}

.LearnMoreBtn {
  color: white;
  background-color: rgb(17, 17, 17);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  margin-bottom: 100px;
  cursor: pointer;
}
.LearnMoreBtn:hover {
  background-color: #bbb;
  color: rgb(17, 17, 17);
}

/* TV & SOUND */

.tvSection {
  width: 1200px;
  height: 500px;
  padding: 20px;
  margin-left: 150px;

  display: flex;
  border: 1px solid transparent;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.TvImg {
  width: 1200px;
  height: 500px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upperSectionTv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Tvbutton {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: white;
  margin: 0px 5px;
  cursor: pointer;
  padding: 5px;
}

.TvSoundHeading {
  font-size: 40px;
  color: white;
  font-weight: bolder;
}
.Tvbutton:hover {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(185, 185, 185, 0.349);
  border-bottom: 2px solid rgb(255, 253, 253);
}

.lowerSectionTv {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lowerSectionTv h2 {
  font-size: 24px;
}
.lowerSectionTv a {
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.lowerSectionTv a:hover {
  background-color: rgb(17, 17, 17);
  color: #bbb;
}

/* Home Appliances  */

.HomeApplianceSection {
  width: 1200px;
  height: 500px;
  padding: 20px;
  margin-left: 150px;

  display: flex;
  border: 1px solid transparent;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.upperSectionHomeAppliance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(27, 27, 27);
}

.HomeAppliancebutton {
  background: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  color: rgb(26, 25, 25);
  font-weight: bolder;
  margin: 0px 5px;
  cursor: pointer;
}

.HomeAppHeading {
  font-size: 35px;
  color: #000000;
}
.HomeAppliancebutton:hover {
  border-bottom: 2px solid #000000;
}

.lowerSectionHomeAppliance {
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lowerSectionHomeAppliance h2 {
  font-size: 35px;
}
.lowerSectionHomeAppliance a {
  color: #fff;
  background-color: #000000;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.lowerSectionHomeAppliance a:hover {
  background-color: #fff;
  color: #000000;
}

/* Explore #DoWhatYouCant */

.hashtagHeading h1 {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

/*  teaserlist */

.teaser_container {
  width: 1200px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: 150px;
}

.teaser_imageDiv {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 550px;
}

.img_teaser {
  height: 450px;
  width: 500px;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img_teaser:hover {
  transform: translateY(0) scale(1.1);
}

.teaser_list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.tnum {
  display: inline-flex;
  border-top: 2px solid transparent;
  margin: 10px;
}

.tnum:hover {
  border-top: 2px solid black;
  padding-bottom: 15px;
  width: 500px;
  transition: 0.7s;
}

.tnum h2 {
  font-size: 24px;
  margin: 10px;
  margin-left: 30px;
  line-height: 26px;
}
.tnum span {
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
}

/* Search */

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 15px;
  margin: 30px;
  width: 650px;
  height: 40px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 17px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid blue;
  border-radius: inherit;
  width: 650px;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button[type="submit"]:hover {
  opacity: 1;
}

.SearchContainer {
  height: 240px;
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchHeading {
  font-size: 40px;
  font-weight: bold;
  margin-left: 60px;
  line-height: 20px;
  margin-bottom: 20px;
}

.search {
  border: none;
  font-size: 18px;
}

.searchlowerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.btnss {
  color: #000000;
  background-color: white;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 15px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btnss:hover {
  background-color: #ddd;
}

/* terms */
.terms {
  display: block;
  margin-bottom: 30px;
}

.terms p {
  font-size: 13px;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.33;
  padding-top: 16px;
  margin-right: 160px;
  margin-left: 160px;
  color: #555;
}

/* footer */

.Footer {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  height: 620px;
  border-top: 1px solid rgb(196, 194, 194);

  margin-left: 150px;

  width: 1200px;
}
.FooterA {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 20px;
  margin-right: 100px;
  height: 645px;
}
.FooterB {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid rgb(196, 194, 194);
  padding-left: 20px;
  margin-right: 100px;
  height: 645px;
}
.FooterC {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid rgb(196, 194, 194);
  padding-left: 20px;
  margin-right: 100px;
  height: 645px;
}
.FooterD {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 1px solid rgb(196, 194, 194);
  padding-left: 20px;
  margin-right: 100px;
  height: 645px;
}

.FooterSustainability {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.FooterAboutUs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Footer a:hover {
  color: blue;
}
.Footer h1 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* Copyright  */

.copyrights {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.copyrights h2 {
  font-weight: 300;
  margin-left: 150px;
  margin-top: 0;
}

/* footer bottom  */

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footerLeftLinks {
  margin-left: 133px;
  margin-bottom: 0;
}

.footerLeftLinks a {
  padding: 0 5px;
  font-size: 10px;
  color: rgb(63, 63, 63);
}
.footerLeftLinks a:hover {
  color: #000000;
  font-weight: 400;
}

.footerRightLinks {
  margin-right: 150px;
}

.footerRightLinks a {
  font-size: 10px;
  color: rgb(63, 63, 63);
}
.footerRightLinks a:hover {
  color: #000000;
  font-weight: 400;
}
